<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd" default-autowire="byName">
		
	<bean id="userService" class="com.emsrepo.service.impl.UserServiceImpl" />
	<bean id="eventService" class="com.emsrepo.service.impl.EventServiceImpl" />
	<bean id="categoryService" class="com.emsrepo.service.impl.CategoryServiceImpl" />
	<bean id="bookingService" class="com.emsrepo.service.impl.BookingServiceImpl" />
	<bean id="loggerService" class="com.emsrepo.service.impl.LoggerServiceImpl" />
</beans>
		