/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

/* Website Home */
#idContainer {width:800px; height:450px;padding:0;}
.container img{border:0;vertical-align:top;}

.container ul, .container li{list-style:none;margin:0;padding:0;}

.num{ position:absolute; right:5px; bottom:5px; font:12px/1.5 tahoma, arial; height:18px;}
.num li{
	float: left;
	color: #d94b01;
	text-align: center;
	line-height: 16px;
	width: 16px;
	height: 16px;
	font-family: Arial;
	font-size: 11px;
	cursor: pointer;
	margin-left: 3px;
	border: 1px solid #f47500;
	background-color: #fcf2cf;
}
.num li.on{
	line-height: 18px;
	width: 18px;
	height: 18px;
	font-size: 14px;
	margin-top:-2px;
	background-color: #ff9415;
	font-weight: bold;
	color:#FFF;
}

/* Event Home */
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 800px;
    height: 650px;
}

.flex-item {
    width: 400px;
    height: 300px;
    margin: 10px;
}

.event-info {
	height:30px;
}

.event-post-info {
	height:50px;
}

.event-field {
}

#event-name {
	font-size: 50px;
	font-weight: bold;
}

/* .google-map {
	width:400px;
	height:300px;
} */

/* Account Home */
.account-info {
	height:30px;
}

/* User Registration */
.user-info {
	height:30px;
}

/* Booking Make */
.flex-container-mid {
    display: -webkit-flex;
    display: flex;
    width: 800px;
    height: 400px;
}

.flex-item-mid {
    width: 400px;
    height: 200px;
    margin: 10px;
}

/* Search Result */
.search-result-item {
	font-size:18px;
}
